.home-main-content {
    text-align: center;
}
.home-main-content .main-details * {
    box-sizing: border-box;
}

/* Float four columns side by side */
.home-main-content .main-details .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.home-main-content .main-details .row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.home-main-content .main-details .row:after {
    content: "";
    display: inline-block;     /*table */
    clear: both;
}
.home-main-content .main-details .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    background-color: #f1f1f1;
}

.dino-main-content {
    text-align: center;
    margin-left: 30%;
}

.fossils-main-content {
    text-align: center;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    /* position: fixed; - if you wanted the scroll bar to stay put while scrolling */
}
nav li {
    float: left;
    border-right: 2px solid #bbb; /* This creates a line sround the nav item*/
}
nav li:last-child {
    border-right: none; /* This makes no border after the last item on the right*/
}
nav li a {
    discplay: inline;
    text-align: center;
    color: white;
    padding: 14px 16px;
}
nav li a:hover { /*This changes text when hovering over the nav item */
    color: darkgoldenrod;
}